body{
    background-image:url('BackgroundForCrudApp.gif');
}
.heading{
    width: 50%;
    margin: 30px auto;
    text-align:center;
    color:rgb(150, 36, 150);
    background:  pink;
    border: 5px solid blueviolet;
    border-radius:20px;
}
form{
    width: 50%;
    margin:30px auto;
    border-radius: 20px;
    padding:10px;
    background:pink;
    border:5px solid blueviolet;
}
form p{
    color: red;
    margin: 0px;
}
.task_input{
    width: 76%;
    height: 15px;
    padding: 10px;
    border: 2px solid blueviolet;
    border-radius: 20px;
}
.task_btn{
    height: 39px;
    background: pink;
    color:rgb(150, 36, 150);
    border: 2px solid blueviolet;
    border-radius: 20px;
    padding: 5px 20px;
}

table{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
}

tr{
    border-bottom: 3px solid blueviolet;
}

th{
    font-size: 18px;
}

th,td{
    border: none;
    height: 30px;
    padding: 2px;
    color: blueviolet;
}

tr:hover{
    background: pink ;
}
.task{
    text-align: left;
}
.delete{
    text-align: center;
}
.delete a{
    color: rgb(150, 36, 150);
    background: pink;
    padding: 1px 6px;
    border-radius: 3px;
    text-decoration: none;
}